* {
  font-family: Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.custom-emoji {
  font-family: "MyEmojiFont";
}

body {
  background-color: rgb(205, 34, 34);
}

.wrapper {
  margin: 0 auto;
  max-width: 1360px;
  @media (max-width: 1450px) {
    max-width: 90%;
  }
}

.burger__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.212);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  position:fixed;
  right: 30px;
  top: 30px;
  img{
    height: 50px;
  }
  display: none;
  @media (max-width: 900px){
    display: flex;
  }
}

.open__btn{
  z-index: 99;
}

.burger__menu{
  position: fixed;
  background-color: rgb(205, 34, 34);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10%;
  color: white;
  font-size: 30px;
  transform: translateX(-100vw);
  transition: transform 0.3s ease-in-out;
}

.open {
  transform: translateX(0vw);
}

header {
  background-color: rgb(205, 34, 34);
  color: white;
  border-bottom: 2px solid black;
  a {
    color: white;
  }
}
.title-header{
  font-size: 33px;
  font-weight: 600;
}

.header__wrapper {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }
}
.header__box {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  gap: 50px;
  @media (max-width: 900px) {
    display: none;
  }
}

main {
  background-color: #d0d0d0;
}
.clock {
  border-bottom: 2px solid black;
}
.clock__block {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}
.clock__time {
  font-weight: 700;
}

.main {
  padding: 100px 0 100px 0;
  @media (max-width: 900px) {
    padding: 50px 0 50px 0;
  }
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}
.left__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  h2 {
    text-align: center;
  }
  @media (max-width: 900px) {
    width: 100%;
  }
}
.main__block {
  background: white;
  border: solid 2px black;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  p {
    font-size: 20px;
    line-height: 26px;
  }
}
.right__block .main__block {
  height: 100%;
}

.video{
  font-weight: 600;
  padding-top: 10%;
  padding-left: 12%;
}

footer {
  border-top: 2px solid black;
  background-color: rgb(205, 34, 34);
  color: white;
}
.footer__wrapper {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  font-size: 25px;
  @media (max-width: 900px) {
    height: auto;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
  }
}

.clocke {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  margin: 50px auto;
}
.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  background-color: black;
  border-radius: 10px;
}
.hour {
  width: 4px;
  height: 30%;
}
.minute {
  width: 4px;
  height: 40%;
}
.center-dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pilots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}
.driver-card {
  background-color: rgb(205, 34, 34);
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  button {
    margin-top: 5px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  a {
    color: black;
  }
}
.driver-card:hover {
  transform: scale(1.15);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.215);
  a {
    color: black;
  }
}

.image__block {
  @media (max-width: 900px) {
    iframe {
      width: 100%;
    }
  }
}
